{% extends "base.html" %}

{% block body %}

<div class='card m-3'>
  <div class='card-body m-3'>
    <h2>Training Execute</h2>
      <div class='row'>
        <div class='col-12'>
          <div class='col-3'>
              <label for="training_number">Training Client number:</label>
          </div>

          <div class='col-9'>
              <input type="text" id="training_number" name="training_number">
          </div>
        </div>
      </div>

    <button class='btn border shadow-sm mt-3 bg-secondary border' onclick='request_train()' 
    style='background-color: gray !important; color:white !important;'>
      Start
    </button>
  </div>
</div>

<script>
  function request_train() {
      var training_number = $('#training_number').val();
      console.log(training_number);
      var param = {
          'training_number' : training_number
      }
      console.log(param);
      ajax_request_train(param);
  }

  function ajax_request_train(param={}) {
      $.ajax({
          type: "POST",
          headers: {
              'X-CSRFToken': '{{csrf_token}}'
          },
          dataType: "json",
          url: '{% url 'server:server_train' %}',
          data: {
              'action':'add_new_client',
              'params': JSON.stringify(param)
          },
          success: function(para) {
            assert(value['Training success'])
          },
          error: function(para) {
            assert(value['Training Fail'])
          }
      });
  }
</script>
{% endblock %}