<nav class="navbar navbar-expand-lg bg-primary p-1" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'server:index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'server:client_index' %}">Client Management
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'server:train_index' %}">Training Execute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'server:train_index' %}">Training Setting</a>
        </li>
      </ul>

      <form class="d-flex">
        <button class="btn btn-secondary p-2 me-2">Log in</button>
        <button class="btn btn-secondary p-2">Sign in</button>
      </form>
    </div>
  </div>
</nav>