<script>
    function get_data_form() {
        var ip_address = $('#ip_address').val();
        var port = $('#port').val();
        var name = $('#name').val();
        var param = {
            'ip_address' : ip_address,
            'port' : port,
            'name' : name
        }
        console.log(param);
        ajax_request(param);
    }

    function ajax_request(param={}) {
        $.ajax({
            type: "POST",
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            dataType: "json",
            url: '{% url 'server:add_client' %}',
            data: {
                'action':'add_new_client',
                'params': JSON.stringify(param)
            },
            success: function(para) {
                console.log(para)
            },
            error: function(para) {
                console.log(para)
            }
        });
    }

</script>
